[submodule "External/Cocos2D"]
	path = External/Cocos2D
	url = git://github.com/lhunath/Cocos2D-iPhone.git
[submodule "External/ASIHttpRequest"]
	path = External/ASIHttpRequest
	url = git://github.com/pokeb/asi-http-request.git
[submodule "External/TouchJSON"]
	path = External/TouchJSON
	url = git://github.com/TouchCode/TouchJSON.git
[submodule "External/jrswizzle"]
	path = External/jrswizzle
	url = https://github.com/rentzsch/jrswizzle.git
