[submodule "External/cocos2d-iphone"]
	path = External/cocos2d-iphone
	url = git://github.com/lhunath/cocos2d-iphone.git
[submodule "External/ASIHttpRequest"]
	path = External/ASIHttpRequest
	url = git://github.com/pokeb/asi-http-request.git
[submodule "External/TouchJSON"]
	path = External/TouchJSON
	url = git://github.com/TouchCode/TouchJSON.git
[submodule "External/jrswizzle"]
	path = External/jrswizzle
	url = git://github.com/jonmarimba/jrswizzle.git
[submodule "External/iOSPorts"]
	path = External/iOSPorts
	url = git://github.com/bindle/iOSPorts.git
