[submodule "External/Cocos2D"]
	path = External/Cocos2D
	url = git://github.com/cocos2d/cocos2d-iphone.git
[submodule "External/ASIHttpRequest"]
	path = External/ASIHttpRequest
	url = git://github.com/pokeb/asi-http-request.git
